/isaaclab_twist2_g1/assets/
/isaaclab_twist2_g1/recording_data/
/isaaclab_twist2_g1/replay_debug_logs/
/isaaclab_twist2_g1/recording_debug_logs/
/isaaclab_twist2_g1/img/
/TWIST2/assets/
/GR00T-WholeBodyControl/
/lerobot/outputs
/isaaclab_twist2_g1/script/eval_scripts/twist2/eval_results
/isaaclab_twist2_g1/outputs
GMR
